{% extends "base.html" %}

{% block title %}T2 | Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to Tier 2 Sponsor List!</h1>
</div>

<div>
    <h3>What is this?</h3>
    <p>This website is going to list all the Tier 2 Sponsors.</p>
    <h3>Is it finished?</h3>
    <p>No. Currently, lots of things are going on to improve it such as grouping the organisations by business type.</p>
    <h3>How often does it update?</h3>
    <p>It really depends but as often as possible.</p>
</div>
{% endblock %}
